<titre-component></titre-component>
<menu-component></menu-component>

<table> <!-- *ligne : tr, colonne th*/ -->

  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>N_téléphone</th>
    <th>Adresse mail</th>
    <th colspan=2> Actions</th>
  </tr>

  <tr *ngFor="let client of users">
    <td>{{client.$key}}</td>
    <td>{{client.nom}}</td>
    <td>{{client.prenom}}</td>
    <td>{{client.telephone}}</td>
    <td>{{client.mail}}</td>
    <td>cellule</td>
    <td>cellule</td>
  </tr>


</table>
