table
{
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  width: 1100px;
  height: 340px;
  margin-left: 350px;
}
td
{

  border: 1px solid black;
}

th
{

  border: 1px solid black;
  Font-Family: Cursive;
}
