@charset "UTF-8";

/*
le site pour le style :
http://www.webdesignweb.fr/web/menu-css-3-anime-1035
*/

#conteneur-menu {
  width: 250px;
  float: left;
  font-family:'Abel', arial, serif;
  text-transform: uppercase;
  background:#313131;
  height: 600px;
}

#conteneur-menu ul {
  padding: 0;
  margin: 0;
}

#conteneur-menu ul li {
  list-style: none;
  padding: 0px;
}

#conteneur-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  display: block;
  color: white;
  background: transparent;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  line-height: 20px;
}


#conteneur-menu ul li a:hover {
  background: #54B6A8;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
