<div id="conteneur-menu">
  <ul>
    <li><a href="#">Nouveau Message</a></li>
    <li><a href="#">Liste Clients</a></li>
    <li><a href="#">Boite De Réceptions</a></li>
    <li><a href="#">Eléments envoyés</a></li>
    <li><a href="#">Nos Thèmes</a></li>
  </ul>
</div>

