form {
  /*le centrer dans la page*/
  display: block;
  position: absolute;
  top: 60%;
  left: 60%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: 900px;
  height: 550px;
  /*les limites du formulaire*/
  padding: 1em;
  border:2px solid #f77;/*taille et couleurs de la bordure*/
  border-radius: 1em ; /*un peu rond des cotés*/
}

div{
  Font-Family: Cursive;
}

button{
  display: block;
  width: auto;
  margin: 15px auto;
  padding: 10px 20px; /*haut et bas 7, droite et gauche 20*/

  border-radius: 1em ; /*un peu rond des cotés*/
  background-color: crimson;
  border: none;
  cursor: pointer;
}

label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width:10%;
  text-align: left;
}

textarea{
  display: inline-block;
  width: 760px;
  height: 340px;
  margin-left: 98px;
  margin-top: 20px;
  /*padding: 20px;*/
 /* margin: 50px 0px 0px 50px;*/
  border:1px solid #f77;
}

input {
  display: inline-block;
 /* width: 59%;*/
  width: 750px;
  padding: 8px;
  margin-left: 3px;
  margin-bottom: 20px;
  border:1px solid #f77;
}
