<form action="/ma-page-de-traitement" method="post">
  <div>
    <label for="nom"> Nom :</label>
    <input type="text" id="nom" />
  </div>
  <div>
    <label for="courriel"> Courriel :</label>
    <input type="email" id="courriel" />
  </div>
  <div>
    <textarea id="message"></textarea>
  </div>

  <div class="button">
    <button type="submit"> Envoyer votre message</button>
  </div>
</form>
