<titre-component></titre-component>
<menu-component></menu-component>

<table> <!-- *ligne : tr, colonne th*/ -->



  <tr>
    <td>mail</td>
    <td>description</td>
  </tr>

  <tr>
    <td>mail</td>
    <td>description</td>

  </tr>

  <tr>
    <td>mail</td>
    <td>description</td>

  </tr>

  <tr>
    <td>mail</td>
    <td>description</td>

  </tr>

</table>
