<!--
<connexion-component></connexion-component>
-->
<!--
 <acceuil-component></acceuil-component>
-->
<!--
<menu-component></menu-component>
-->
<!--
<receptions-component></receptions-component>
-->
<!--
<baseclient-component></baseclient-component>

-->
<router-outlet></router-outlet>
