<!-- method : cet attribut indique par quel moyen les données vont être envoyées -->
<titre-component></titre-component>

<form [formGroup]="formulaireConnexion" (ngSubmit)="onSubmit(formulaireConnexion.value)">

  <h1> Connexion </h1>
  <P>
    <!--  le champs for est pour lier le label au champ, il faut lui donner un attribut for qui a la même valeur que l'id du champ -->
    <label for="email">Votre Adresse Mail :</label>
      <input  class="input" type="email" name="email" id="email" [formControl]="formulaireConnexion.controls['email']" required/>
    <br/>
    <label for="motDePasse"> Votre Mot De Passe :</label>
      <input  class="input" type="password" name="motDePasse" id="motDePasse" minlength="8" [formControl]="formulaireConnexion.controls['motDePasse']" required/>
    <br/>
    <button type="submit" [disabled]="!formulaireConnexion.valid"> Valider </button>
  <span>{{ (test | async)?.email}}</span>
  </P>

</form>
