form {
  /*le centrer dans la page*/
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: 800px;

  /*les limites du formulaire*/
  padding: 1em;
  border:2px solid #f77;/*taille et couleurs de la bordure*/
  border-radius: 1em ; /*un peu rond des cotés*/
}
form h1
{
  Font-Family: Cursive;
  width: 100%;
  text-align: center;
}
form p
{
  Font-Family: Cursive;
  display: block;
  width: 80%;
  margin: auto;
}
label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width:40%;
  text-align: left;
}

.input
{
  display: inline-block;
  width: 59%;
  margin-bottom: 20px;
  border:2px solid #f77;
}

button{
  display: block;
  width: auto;
  margin: auto;
  padding: 7px 20px; /*haut et bas 7, droite et gauche 20*/
  border-radius: 1em ; /*un peu rond des cotés*/
  background-color: crimson;
  border: none;
  cursor: pointer;
}
